<h1>Move</h1>
<form action="/move" method="post">
    x:
    <input type="number" name="x"></br>
    Y:
    <input type="number" name="y"></br>
    <input type="submit">
</form>
<h1>Attack</h1>
<form action="/attack" method="post">
    x:
    <input type="number" name="x"></br>
    Y:
    <input type="number" name="y"></br>
    <input type="submit">
</form>
<h1>Trade</h1>
<form action="/trade" method="post">
    x:
    <input type="number" name="x"></br>
    Y:
    <input type="number" name="y"></br>
    AP:
    <input type="number" name="ap"></br>
    <input type="submit">
</form>
